<html>
    <head>
        <title>Decryptify</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <h1>{{ title }}</h1>

        <div id="chart"></div>

        <div id="trades"></div>

        <div style="border: solid gray 1px; padding: 20px; width: 600px; margin-top: 20px;">
            <h3>Buy Crypto</h3>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div style="padding: 10px; margin-bottom: 10px; background: pink; border: solid red 1px; color: red;">

                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>

                {% endif %}
            {% endwith %}

            <form action="/buy" method="post">
                <input type="text" id="quantity" name="quantity" placeholder="eg. 0.001" />
                <select id="symbol" name="symbol">
                    {% for symbol in symbols %}S
                        <option>{{ symbol['symbol'] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="buy" value="Buy" />
            </form>
        </div>

        <h3>Settings</h3>

        <div id="settings">
        <form action="/settings" method="post">
            <select id="indicator", name="indicator">
                <optgroup label = Indicator>
                 <option value="RSI" selected="selected"> RSI </option>
                 <option value="SMA"> SMA </option>
                 <option value="Fibbonaci"> Fibbonaci</option>
                </optgroup>
            </select>
            <div id="rsi_settings">
            					Period
            	<input type="text" id="rsi_length" name="rsi_length" placeholder="rsi_len" />
            					Overbought
            	<input type="text" id="rsi_overbought" name="rsi_overbought" placeholder="70" />
            					Oversold
            	<input type="text" id="rsi_oversold" name="rsi_oversold" placeholder="30" />
            </div>
            <div id="sma_settings">
                                Period
                <input type="text" id="rsi_length" name="rsi_length" placeholder="sma_len" />
                                Overbought
                <input type="text" id="rsi_overbought" name="rsi_overbought" placeholder="70" />
                                Oversold
                <input type="text" id="rsi_oversold" name="rsi_oversold" placeholder="30" />
            </div>
            <div id="fibbonaci_settings">
                                Period
                <input type="text" id="rsi_length" name="rsi_length" placeholder="fib_len" />
                                Overbought
                <input type="text" id="rsi_overbought" name="rsi_overbought" placeholder="70" />
                                Oversold
                <input type="text" id="rsi_oversold" name="rsi_oversold" placeholder="30" />
            </div>
            <input id="submit_settings" type="submit" name="submit" value="Submit" />
        </form>
        </div>
        
        <div id="my_balances">
            <h2>Balances</h2>

            <table>            
                {% for balance in my_balances %}
                <tr>
                    <td>
                        {{ balance['asset'] }} 
                    </td>
                    <td>
                        {{ balance['free'] }}
                    </td>
                </tr>
                    
                {% endfor %}
            </table>

        </div>

        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
        <script src="{{ url_for('static', filename='chart.js') }}"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>   
      <!--   <script src=/static/script.js></script> -->
    </body>
</html>
